@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  font-weight: normal;
}

#app main {
  max-width: 100%;
  flex: 1 1 0;
  @media (max-width: 1024px) {
    padding-left: 6rem;
  }
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
